{% extends 'base.twig' %}

{% block page_config %}
{
    'locations/main': '{{ request.locations.json }}'
}
{% endblock page_config %}

{% block page_modules %}
    [ 'locations', 'meals', 'order' ]
{% endblock page_modules %}

{% block content %}
    <article>
        <section data-outlet="locations:module"></section>
        <section data-outlet="meals:module"></section>
        <section data-outlet="order:module"></section>
    </article>
{% endblock %}